.list {
    list-style-type: 'none';
    max-height: calc(100vh - 350px);
    overflow: auto;
}

.item {
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    display: flex;
}

.photo {
    width: 75px;
    height: 75px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid lightseagreen;    
}

.avatar {
    width: 75px;
    height: 75px;    
    border-radius: 50%;
    border: 2px solid lightseagreen;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;  
    font-size: 24px;
    color: #4d75a3;
}

.photoLink {
    margin-right: 20px;
    text-align: center;
    min-width: 80px;
    padding: 5px 0;
}

.description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background-color: #ebf4fa;
    width: 100%;
    padding: 10px;
}

.name {
    font-weight: 600;
}

.about {    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #3f4f5f;
}

.about span {
    display: inline-block;
    max-width: calc(100vw - 350px);
}
