.nav {
    background-color: white;
    margin-bottom: 50px;
    border-radius: 0 0 9px 9px;
}

.list {
    padding: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list a {
    font-size: 18px;
    padding-bottom: 20px;
    line-height: 2.5;
    color: #97a4b1;
    margin-right: 45px;
    border-bottom: 5px solid transparent;
    transition: color, border-bottom 0.3s;
}

.list a.activeLink {
    color: #365375;
}

.list a:hover {
    border-bottom-color: #4d75a3;
    color: #667a90;
}
