.profile {
    padding: 15px;
    color: #3f4f5f;
}

.status {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;    
}

.about {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;    
}

.list {
    color: #3f4f5f;
}

.name {
    font-size: 24px;
    font-weight: 700;
}

.description {
    display: flex;   
}

.wrapFoto{
    margin-right: 20px;
}
.wrapFoto img{
    width: 200px;
    border-radius: 50%;
    border: 2px solid #e9e8e4;
    
}

.editFoto {
    color: #4d75a3;
    margin: 10px;
}

.editFoto::-webkit-file-upload-button {
    color: #4d75a3;
    background-color: #fff;
    padding: 10px 35px;
    border: 2px solid #4d75a3;
    border-radius: 5px;
    outline: 0;
    transition: color, background-color 0.3s;
}
.editFoto::-webkit-file-upload-button:hover {
    color: #fff;
    background-color: #4d75a3;
}
.editFoto::-webkit-file-upload-button:active {
    color: #4d75a3;
    background-color: #fff;
}

.wrapControl {
    display:flex;
    align-items: center;
    justify-content: flex-end;
}
